body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display:block;
    margin: 0 auto;
    width: 575px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    width: 575px;
    height: 67px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #C6C6C6;
    box-sizing: border-box;
    padding: 5px 15px 0;
    position: fixed;
    z-index: 5000;
    margin-top: 0;
    
}
.profile-foto{
    width: 35px;
    border-radius: 50%;
    height: 40px;
    margin: 0;
}
.logo{
    width: auto;
    height: 55px;
    margin: 0;
}
.mini-prfl{
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    width: 220px;
    box-sizing: border-box;

}
.post{
    width: 575px;
    height: 575px;
    box-sizing: border-box;
}
.post-features{
    margin-top: 10px;

}
.mini-foto{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.post-foto{
    width: 575px;
    height: 575px;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 22px;
    
}
.icon{


}
.icon:hover{
    background-color: red;
}
p{
    margin: 0;

}
h3{
    margin: 0;
}
span{
    font-weight: bold;
}
section{
    margin-bottom:10px;
}
main{
    margin-top: 100px;
}