body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
}
.container{
    display:block;
    margin: 0 auto;
    width: 300px;
}
header{
    display: flex;
    justify-content: space-between;
    width: 575px;
    height: 67px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #C6C6C6;
    padding: 10px 15px;
}
.profile-foto{
    width: 40px;
    border-radius: 50%;
    height: 40px;
}