body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display:block;
    margin: 0 auto;
    width: 575px;
    border: 2px solid black;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    width: 575px;
    height: 67px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #C6C6C6;
    padding: 17px 15px;
    border: 2px solid black;
    box-sizing: border-box;
    
}
.profile-foto{
    width: 35px;
    border-radius: 50%;
    height: 40px;
}
.foto{
    width: auto;
    height: 55px;
    margin: 0;
}
.mini-prfl{
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    width: 200px;
    border: 2px solid black;
    box-sizing: border-box;

}
.post{
    width: 575px;
    height: 575px;
    border: 2px solid black;
    box-sizing: border-box;
}
.post-features{

}
.mini-foto{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.post-foto{
    width: auto;
    height: auto;
}
p{
    margin: 0;

}
h3{
    margin: 0;
}